
section {
    display: flex;
    width: 600px;
    height: 430px;
}

section img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 5px;
}

section img:hover {
   cursor: pointer;
   width: 300px;
   opacity: 1;
   filter: contrast(120%);
}