
.gradient {
    width: 800px;
    height: 150px;
    background: linear-gradient(90deg, #c33764, #1d2671);
    background-size: 400% 400%;
    animation: anim 2.5s infinite ease-in-out;
    border-radius: 20px;
}

@keyframes anim {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}